dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.idea
hf-user-store/*
lib/*
/daml-on-fabric.log
/src/test/fixture/*.jar
/src/test/fixture/*.dar
/src/test/fixture/data/crypto-config
/src/test/fixture/data/genesis.block
/src/test/fixture/data/mainchannel.tx
/.vscode/
/quickstart/
.DS_Store
/chaincode-image/.idea/
